# Домен прокси-сервера (на котором он висит)
PROXY_DOMAIN=potyjnovpn.apruxdomain.store

# Базовый HWID
HWID=CB522960-E2A9-7A19-12CB-FD12FEC71E19

# Канал (для футера, если нужен)
CHANNEL_USERNAME=ciorsa
